h1{
    padding-left: 22%;
    padding-right: 10%;
}
h2{
    padding-left: 14%;
    padding-right: 10%;
}
h3{
    padding-left: 17%;
    padding-right: 13%;
    
}
#footnote{
    padding-left: 22%;
    padding-bottom: 30px;
    padding-top: 0;
}
#description{
    padding: 0 40px 40px;
    padding-bottom: 0;
}
#form{
    padding: 0 30px 30px;
    margin: 10px;
}
.full-width{
    width: 95%;
}
.half-width{
    width: 33%;
}
.form-size{
    width: 75%;
}
#feedbackheader{
    padding-bottom: 20px;
}
#description{
    word-spacing: 3px;
}