<div class="container"
    fxLayout="column"
    fxLayoutGap="20px">
  
    <div fxFlex>
        <mat-grid-list cols="2" rowHeight="300px" >
            <mat-grid-tile   [routerLink]="['/top-heading']" (click)="passNow('us')" appExpand>
                <mat-grid-tile-header>
                    <h1>USA NEWS</h1>
                </mat-grid-tile-header>
                <img height="100%" width="100%" src="../../assets/USA.jpg" alt="usa" >
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('in')" appExpand>
                <mat-grid-tile-header>
                    <h1>INDIA NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/INDIA.jpg" alt="india">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('kr')" appExpand>
                <mat-grid-tile-header>
                    <h1>KOREA NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/KOREA.jpg" alt="korea">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('ru')" appExpand>
                <mat-grid-tile-header>
                    <h1>RUSSIA NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/RUSSIA.jpg" alt="russia">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('jp')" appExpand>
                <mat-grid-tile-header>
                    <h1>JAPAN NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/JAPAN.jpg" alt="japan">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('sg')" appExpand>
                <mat-grid-tile-header>
                    <h1>SINGAPORE NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/SINGAPORE.jpg" alt="singapore">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('gr')" appExpand>
                <mat-grid-tile-header>
                    <h1>GERMANY NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/GERMANY.jpg" alt="germany">
            </mat-grid-tile>

            

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('fr')" appExpand>
                <mat-grid-tile-header>
                    <h1>FRANCE NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/FRANCE.jpg" alt="france">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('cn')" appExpand>
                <mat-grid-tile-header>
                    <h1>CHINA NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/CHINA.jpg" alt="china">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('it')" appExpand>
                <mat-grid-tile-header>
                    <h1>ITALY NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/ITALY.jpg" alt="italy">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('au')"appExpand >
                <mat-grid-tile-header>
                    <h1>AUSTRALIA NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/AUSTRALIA.jpg" alt="australia">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('il')" appExpand>
                <mat-grid-tile-header>
                    <h1>ISAREL NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/ISRAEL.jpg" alt="israel">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('gb')" appExpand>
                <mat-grid-tile-header>
                    <h1>UK NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/UK.jpg" alt="uk">
            </mat-grid-tile>

            <mat-grid-tile [routerLink]="['/top-heading']" (click)="passNow('ae')" appExpand>
                <mat-grid-tile-header>
                    <h1>UAE NEWS</h1>
                </mat-grid-tile-header>
                <img  height="100%" width="100%" src="../../assets/UAE.jpg" alt="uae">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>

